body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    color: white;
}

.stars, .twinkling {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.stars {
    background: black url('https://www.script-tutorials.com/demos/360/images/stars.png') repeat top center;
    z-index: 0;
    animation: move-stars 100s linear infinite;
}

.twinkling {
    background: transparent url('https://www.script-tutorials.com/demos/360/images/twinkling.png') repeat top center;
    z-index: 1;
    animation: move-twinkling 200s linear infinite;
}

@keyframes move-stars {
    from {background-position: 0 0;}
    to {background-position: -10000px 10000px;}
}

@keyframes move-twinkling {
    from {background-position: 0 0;}
    to {background-position: -10000px 10000px;}
}

.blurred-bar {
    position: absolute;
    top: 0;
    width: 100%;
    height: 50px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.05);
    display: flex;
    align-items: center;
    padding-left: 10px;
    z-index: 2;
}

.avatar {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.social-link {
    color: white;
    text-decoration: none;
    font-size: 18px; 
    
}
.subdomains {
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin-left: 10px;
}

.center-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    z-index: 3;
}
